* {
    margin: 0;
    padding: 0;
}
/*navigation */
.name {
     color: blue; 
}
.message {
    color:grey;
}
.sea {
    width: 200px; 
    height: 100px;
    background-color: green;
}
#text {
    color: pink;
}
/*navigation */
.block {
    border: 3px solid green ;
}
.span_block {
    border: 3px solid green;
}